<div class="product">
  <div class="width">
    <div class="product-left">
      {% if product.selected_or_first_available_variant.featured_image %}
      {% assign featuredImage = product.selected_or_first_available_variant.featured_image %}
      <img id="product-image" src="{{ featuredImage |  image_url }}" width="" height="" />
      {% else %}
      {% assign featuredImage = product.featured_image %}
      <img id="product-image" src="{{ featuredImage |  image_url }}" width="" height="" />

      {% endif %}

      <ul class="product-image-thumbs">
        {% for image in product.images %}
        <li class="{% if image == featuredImage %}selected{% endif %}"><img src={{ image | image_url }} width=""
            height="" class="product-image" />
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="product-right">
      <h1>{{ product.title }}</h1>

      <div class="product-prices">
        <p class="product-compare" {% unless product.selected_or_first_available_variant.compare_at_price>
          product.selected_or_first_available_variant.price %}
          hide{% endunless %}>
          {{ product.selected_or_first_available_variant.compare_at_price | money }}
        </p>
        <p class="product-price">
          {{ product.selected_or_first_available_variant.price | money }}
        </p>
      </div>

      <div class="product-description">
        <p>{{ product.description }}</p>
      </div>

      {% form 'product'
      , product %}
      <input id="product-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />

      {% if product.variants.size > 1 %}
      <div class="product-option">
        {% for option in product.options_with_values %}
        <fieldset>
          <legend>{{ option.name }}</legend>
          {% for value in option.values %}
          <div>
            <input {% if option.selected_value==value %} checked{% endif %} type="radio" name="{{ option.name }}"
              value="{{ value }}" id="{{ option.name | handleize }}--{{ value |  handleize }}">
            <label for="{{ option.name | handleize }}--{{ value |  handleize }}">{{ value }}</label>
          </div>
          {% endfor %}
        </fieldset>
        {% endfor %}
      </div>
      {% endif %}

      <div>
        <label for="quantity" class="quantity-label">Quantity</label>
        <div>
          <div class="quantity-selector">
            <button type="button" class="quantity-selector-minus">
              -
            </button>
            <input id="quantity" name="quantity" value="1" class="product-quantity" />
            <button type="button" class="quantity-selector-plus">
              +
            </button>
          </div>
        </div>
      </div>

      <button type="submit" class="product-add" id="add-to-cart" {% unless
        product.selected_or_first_available_variant.available %} disabled{% endunless %}>
        {% if product.selected_or_first_available_variant.available %}
        Add to chart
        {% else %}
        Out of stock
        {% endif %}
      </button>

      <button type="submit" class="product-add" id="buy-it-now" {% unless
        product.selected_or_first_available_variant.available %} disabled{% endunless %}>
        {% if product.selected_or_first_available_variant.available %}
        Buy it now
        {% else %}
        Out of stock
        {% endif %}
      </button>

      {% endform %}
    </div>
  </div>
</div>

<script src="{{ 'formatMoney.js' | asset_url }}" defer></script>

<script>
  var product = {{ product | json }}

  document.querySelectorAll('.product-option input[type="radio"]').forEach(radio => {
    radio.addEventListener("change", () => {

      var selectedOptions = []

      document.querySelectorAll('.product-option input[type="radio"]:checked').forEach(radio => {
        selectedOptions.push(radio.value)
      })

      var matchedVariant = product.variants.find(variant => {
        var pass = true

        for (var i = 0; i < selectedOptions.length; i++) {
          if (selectedOptions.indexOf(variant.options[i]) === -1) {
            pass = false
            break
          }
        }

        return pass
      })

      document.querySelector('#product-id').value = matchedVariant.id

      var url = new URLParse(window.location.href, true)
      url.query.variant = matchedVariant.id
      window.history.replaceState(null, null, url.toString())

      document.querySelector('.product-price').textContent = Shopify.formatMoney(matchedVariant.price, "{{ shop.money_format }}")
      document.querySelector('.product-compare').textContent = matchedVariant.compare_price

      matchedVariant.compare_price > matchedVariant.price ?
        document.querySelector('.product-compare').classList.remove('hide') :
        document.querySelector('.product-compare').classList.add('hide')

      if (matchedVariant.featured_image) {
        document.querySelector('#product-image').setAttribute('src', matchedVariant.featured_image.src)
        document.querySelector('.product-image-thumbs li.selected').classList.remove('selected')
        document.querySelectorAll('.product-image-thumbs li')[matchedVariant.featured_image.position - 1].classList.add('selected')
      }

      var add = document.querySelector('#add-to-cart')
      var buy = document.querySelector('#buy-it-now')
      if (matchedVariant.available) {
        add.textContent = "Add to cart"
        add.disabled = false
        buy.textContent = "Buy it now"
        buy.disabled = false
      } else {
        add.textContent = "Out of stock"
        add.disabled = true
        buy.textContent = "Buy it now"
        buy.disabled = true

      }
    })
  })

  document.querySelectorAll('.product-image-thumbs li').forEach(li => {
    li.addEventListener('click', () => {
      document.querySelector('.product-image-thumbs li.selected').classList.remove('selected')
      li.classList.add('selected')

      document.querySelector('#product-image').setAttribute('src', li.querySelector('img').getAttribute('src'))
    })
  })

  document.querySelector('#buy-it-now').addEventListener('click', (e) => {
    e.preventDefault()

    var form = document.querySelector('.shopif-product-form')
    //var form = document.querySelector('form[action="/cart/add"]')
    var input = document.createElement('input')

    input.value = "/checkout"
    input.type = "hidden"
    input.name = "return_to"

    // form.appendChild(input)
    // form.submit()
  }
  )


  document.querySelector('.quantity-selector-plus').addEventListener('click', () => {
    var currentValue = Number(document.querySelector('#quantity').value)
    document.querySelector('#quantity').value = currentValue + 1
  }
  )

  document.querySelector('.quantity-selector-minus').addEventListener('click', () => {
    var currentValue = Number(document.querySelector('#quantity').value)
    if (currentValue > 1) {
      document.querySelector('#quantity').value = currentValue - 1
    }
  }
  )
</script>


{% schema %}
{
"name": "Product-main",
"settings": [
{
"type": "color",
"id": "background",
"label": "Background",
"default": "#F4F4F4"
}, {
"type": "color",
"id": "text_color",
"label": "Text",
"default": "#000000"
}
],
"presets": [
{
"name": "product-main"
}
]
}
{% endschema %}